<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav>Sidenav</mat-sidenav>
    <mat-sidenav-content>
        <div class="heading">
            <button mat-raised-button (click)="sidenav.toggle()">
                <mat-icon class="hamburger">menu</mat-icon>
            </button>
        </div>
        <div class="row content">
            <div class="Board col-md">
                <div class="board-header row">
                    <h4 class="col-md-9">Board Name</h4>
                    <button mat-button class="col-md-2"><mat-icon>more_horiz</mat-icon></button>
                </div>
                
            </div>
            <mat-expansion-panel class="newboard">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>add</mat-icon>
                        <p>New Board</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </mat-expansion-panel>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>